
body{
    font-family: Raleway, sans-serif;
    font-size: 5vw;
}

tr:first-child{
    background-color: #bfbac1;
    font-weight: bold;
    text-align: center;
}

td {
    border: #2f2f2f 2px solid;
}

.loading {
    height: 1em;
    position: relative;
    top: 0.25em;
}

.headline {
    text-align: center;
}

.sendercell {
    width: 50%;
}