
body{
    font-family: Raleway, sans-serif;
    font-size: 5vw;
}

table {
    border-collapse: collapse;
    margin: 2px;
}

tr:first-child{
    background-color: #bfbac1;
    font-weight: bold;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

td {
    border: #2f2f2f 2px solid;
}

.loading {
    height: 1em;
    position: relative;
    top: 0.25em;
}

.headline {
    text-align: center;
}

.sendercell {
    width: 50%;
}
