body{
    background-image:linear-gradient(to bottom, #97befb 0%, #ffffff 100%);
    background-repeat: no-repeat;
    font-family: Raleway, sans-serif;
}

.container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.item{
    flex: 1 0 25%;
    margin: 5px;
}

.status{
    z-index: 10;
    width: 100%;
    background: #2cc102;
    color: #ffffff;
    font-size: 7vw;
    white-space: nowrap;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    animation: move 5s ease-out forwards;
    animation-delay: 5s;
    animation-iteration-count: 1;

    /* Safari and Chrome */
    -webkit-animation: move 5s ease-out forwards;
    -webkit-animation-delay: 5s;
    -webkit-animation-iteration-count: 1;
}

.hidden{
    display: none;
}

.title{
    font-size: 7vw;
    white-space: nowrap;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    color: #2f2f2f;
}

input[type=submit]{
    width: 100%;
    white-space: nowrap;
    font-size: 7vw;
    height: 200px;
}

@keyframes move
{ from {top:0px; opacity: 1;}
    to {top:-200px; opacity: 0;}
}

@-webkit-keyframes move /* Safari and Chrome */
{
    from {top:0px; opacity: 1;}
    to {top:-200px; opacity: 0;}
}

@keyframes fadeOut
{ from {bottom:0px; opacity: 1;}
    to {bottom:-200px; opacity: 0;}
}

@-webkit-keyframes fadeOut /* Safari and Chrome */
{
    from {bottom:0px; opacity: 1;}
    to {bottom:-200px; opacity: 0;}
}

#close {
    float: right;
    text-decoration: none;
    color: #ffffff;
}

#killerbutton {
    background: #ff0017;
    color: #ffffff;
    margin-top: 30px;
}

.guide {
    z-index: 9;
    width: 100%;
    background: #bfbac1;
    color: #000000;
    text-align: center;
    font-size: 7vw;
    white-space: nowrap;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    animation: fadeOut 5s ease-out forwards;
    animation-delay: 15s;
    animation-iteration-count: 1;

    /* Safari and Chrome */
    -webkit-animation: fadeOut 5s ease-out forwards;
    -webkit-animation-delay: 15s;
    -webkit-animation-iteration-count: 1;
}

#openguide {
    float: right;
    clear: right;
    text-decoration: none;
}

#refresh {
    float: left;
    clear: left;
    text-decoration: none;
}

#fullguide {
    z-index: 12;
    margin: 20px;
    box-shadow: 0 0 100px #000000;
    position: absolute;
    background: #ffffff;
    left: 5px;
    right: 5px;
    top: 5px;
    word-break: break-word;
}

.blackbox {
    z-index: 11;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.5;
    top: 0;
    left: 0;
}

.closeguide {
    float: right;
    clear: right;
    text-decoration: none;
    font-size: 5vw;
}


.iconimg {
    height: 1em;
    padding: 5px 5px 0;
}